body {background-image: url("taustataivas.jpg");}
h1, h2, p {color: wheat;}

table, th {color: wheat; font-weight: bold;}
table, td {color: wheat;}
th, td {border: 2px double wheat; height: 20px;}
table {width: 50%;}
table, th, td {text-align: center;}

#taulukonkoko {font-size: 17px; font-weight: bold;}

.osiot {padding-bottom: 20px;}

input, button {color: black; background-color: wheat;}